<div class="descriptionlanding">
  <div class="logo">

    <img src="https://s3.amazonaws.com/emojisentimentapp/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
  </div>
  <div class="description">
    <p>
      <strong>#EmojiSentiment</strong> is an app that fine-tunes how well we understand the sentiment surrounding a topic.
      <br>
      <br>
      The app determines which emoji are used most in conjunction with that topic and by tapping into sentiment data reveals whether conversations are positive, negative, or somewhere in between.
    </p>
  </div>



  <div class="landingsearch">
    <%= form_tag search_path do %>
    <%= label_tag(:hash_tag, "") %>
    <div id="search-box" class="search-state">
      <%= text_field_tag(:hash_tag, "&#xf002;".html_safe,
      required: true, :class=> "searchfield") %>

    </div>
    <% end %>
  </div>
</div>
