<div class="why">
  <div class="logo_why">
    <img src="/assets/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
  </div>
  <div class="video">
    <iframe src="https://player.vimeo.com/video/151868612?title=0&byline=0&portrait=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>
