<div class="why">
  <div class="logo">
    <img src="/assets/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
  </div>
  <div class="description">
    <p>
      Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,
      twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled four loko, swag
​
      Next level brunch mumblecore umami offal. Mumblecore truffaut meh umami DIY,  truffaut meh
      twee forage fixie quinoa keffiyeh crucifix XOXO. Tumblr waistcoat retro tousled f
    </p>
  </div>
