<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<%= form_tag search_path do %>
<%= label_tag(:hash_tag, "") %>

<div id="headingsearch">
  <h5 class="left-align">Search for an area..</h5>
</div>

<%= text_field_tag(:city) %>
<%= submit_tag("Search") %>
<% end %>
