<div id="fullpage" class="fullpageJS">
  <div class="preloader-container">
    <div class="loader-and-text">
      <div class="loader"></div>
      <h5>We're Crunching the Numbers For You...</h5>
    </div>
  </div>
    <div class="section firstPage"><%= render 'homeSearch' %> </div>
    <div class="section"><%= render 'why' %></div>
    <div class="section"><%= render 'about' %></div>
    <div class="section"><%= render partial: 'contact' %></div>
</div>

<div id="mobile-page">
  <div class="mobile_spacing">
  </div>
  <div class="descriptionlanding">
    <div class="logo">
      <img src="https://s3.amazonaws.com/emojisentimentapp/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
    </div>
    <div class="description_mobile">
      <p>
        <span id="mobile_header">Ohhh snap!</span>
        <br>
        #EmojiSentiment dashboard is not yet available on mobile devices.
      </p>
      <p>
        Good news doe! You can Tweet:
        <br>
        <span id="blah">#EmojiSentiment + #YourHashtagHere</span>
        <br>
        & get basic metrics tweeted back at you.
      </p>

      <div class="tweet_button">
        <a href="https://twitter.com/intent/tweet?text=%23EmojiSentiment%20%23YourHashtagHere" class="twitter-hashtag-button" data-related="emojisentiment"><i class="fa fa-twitter" aria-hidden="true"></i>
        Tweet </a>
      </div>
    </div>
    <div class="mobile_spacing">

    </div>

</div>

​
​
