<div id="fullpage" class="fullpageJS">
  <div class="preloader-container">
    <div class="loader-and-text">
      <div class="loader"></div>
      <h5>We're Crunching the Numbers For You...</h5>
    </div>
  </div>
    <div class="section firstPage"><%= render 'homeSearch' %></div>
    <div class="section"><%= render 'why' %></div>
    <div class="section"><%= render 'about' %></div>
    <div class="section"><%= render partial: 'contact' %></div>
</div>

<div id="mobile-page">
  <div class="descriptionlanding">
    <div class="logo">

      <img src="https://s3.amazonaws.com/emojisentimentapp/emojisentiment_logo-02.png" alt="EmojiSentiment_logo">
    </div>
    <div class="description">
      <p>
        <strong>#EmojiSentiment</strong> is an app that fine-tunes how well we understand the sentiment surrounding a topic.
        <br>
        <br>
        The app determines which emoji are used most in conjunction with that topic and by tapping into sentiment data  reveal whether conversations are positive, negative, or somewhere in between.
      </p>
      <a href="https://twitter.com/intent/tweet?button_hashtag=YourHashtagHere&text=%23EmojiSentiment" class="twitter-hashtag-button">Tweet #EmojiSentiment</a>

    </div>

</div>

​
​
