<div id="fullpage">
    <div class="section firstPage"><%= render 'homeSearch' %></div>
    <div class="section"><%= render 'why' %></div>
    <div class="section"><%= render 'about' %></div>
    <div class="section"><%= render 'contact' %></div>
</div>

​
​
