<div id="fullpage">
  <div class="preloader-container">
    <div class="loader-and-text">
      <div class="loader"></div>
      <h5>We're Crunching the Numbers For You...</h5>
    </div>
  </div>
  <div class="section"><%= render 'homeSearch' %></div>
  <div class="section"><%= render 'why' %></div>
  <!-- <div class="section">Some section2</div>
  <div class="section">Some section3</div> -->
</div>

​
​
