<div id="fullpage">
  <div class="preloader-container">
    <div class="loader-and-text">
      <div class="loader"></div>
      <h5>We're Crunching the Numbers For You...</h5>
    </div>
  </div>
    <div class="section firstPage"><%= render 'homeSearch' %></div>
    <div class="section"><%= render 'why' %></div>
    <div class="section"><%= render 'about' %></div>
    <div class="section"><%= render partial: 'contact' %></div>
</div>

​
​
