<div id="fullpage">
    <div class="section"><%= render 'homeSearch' %></div>
    <div class="section"><%= render 'why' %></div>
    <!-- <div class="section">Some section2</div>
    <div class="section">Some section3</div> -->
</div>

​
​
