.about {
  margin: auto;
  width: 45%;
}

.about .title {
  text-align: center;
  font-size: 2.2em;
  font-weight: 700;
}

.description_about p {
  border-top: .1em solid rgba(0, 0, 0, .15);
  padding-top: 1.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 300;
}


/*_________ people__________*/

.people_container {
  border-top: .1em solid rgba(0, 0, 0, .15);
  // padding-top: 1.8em;
  display: flex;
	flex-wrap: wrap;
	margin: auto;
  justify-content: space-between;
}

.people {
  width: 30%;
}

.emoji_people {
  font-size: 1.5em;
  margin-top: 2em;
}

.name_people {
  font-weight: 600;
}

.twitter_people {
  font-weight: 300;
}
