
/*___________________________*/
/*_________ LAYOUT __________*/

.showresults {
  height: 30%;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
}

/*___________________________*/
/*_________ CONTENT __________*/

.search_hashtag {
  text-align: center;
  font-size: 2.4em;
  font-weight: 700;
}

.description_emoji_search p {
  border-top: .1em solid rgba(0, 0, 0, .15);
  padding-top: 2.3em;
  margin-top: 1.9em;
  margin-bottom: 1.9em;
  text-align: center;
  font-weight: 300;
}

/*_________ agregate_sentiment_board __________*/

.agregate_sentiment_board {
  background-color: white;
  width: 100%;
}

.agregate_sentiment_board p {
  font-weight: 100;
  font-size: .85em;
  margin: 0 .8em .1em .5em;
  padding-top: .8em;
  text-align: right;
}

.fa-twitter {
  color: #55acee;
  padding-left: .2em;
}

 .agregate_sentiment {
  font-size: 1.5em;
  font-weight: 100;
}

.agregate_sentiment span {
  font-weight: 600;
}

.agregate_total_tweets {
  font-size: 1.5em;
  font-weight: 600;
  float: right;
}

.agregate_sentiment_board .container {
  border-bottom: .1em solid rgba(0, 0, 0, .15);
  margin: 0 .7em .8em .7em;
  padding-bottom: .4em;
}

.sentiment_bar {
  height: .5em;
  background: linear-gradient(to left, #2CC6AB, #55ACEE, #FF6168);
  margin: .8em .7em .8em .7em;
}

.numbers {
  display: flex;
  justify-content: space-between;
  margin: 0 .7em 0 .7em;
  padding-bottom: .45em;
}

.numbers span {
  font-size: .6em;
}

/*_________ Single_sentiment_board __________*/

.single_sentiment_board {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.single_sentiment_board .container_board {
  background-color: white;
  width: 30%;
}

.single_sentiment_board .container {
  border-bottom: .1em solid rgba(0, 0, 0, .15);
  margin: 0 .7em .8em .7em;
  padding-bottom: .25em;
}

.single_sentiment_board p {
  font-weight: 100;
    font-size: .85em;
    margin: 0 .8em .1em .5em;
    padding-top: .65em;
    text-align: right;
  }

  .single_sentiment_board span {
    font-size: 1.5em;
    font-weight: 600;
  }

  .single_emoji {
    padding-bottom: 2em;
    padding-left: .4em;
  }

  .single_sentiment_board .single_emoji_sentiment {
    float: right;
  }

/*___________________________*/
/*_________ ARROW __________*/

.backarrow img {
  width: 1em;
  position: absolute;
  left: 4%;
}
