// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*___________________________*/
/*_________ LAYOUT __________*/

.descriptionlanding {
  height: 30%;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
}


/*___________________________*/
/*_________ CONTENT__________*/

.logo img{
  width: 18em;
  height: auto;
  display: block;
  margin: auto;
}

.description p {
  border-top: .1em solid rgba(0, 0, 0, .1);
  padding-top: 2.3em;
  margin-top: 2.0em;
  text-align: center;
  font-weight: 300;
}

.landingsearch form {
  text-align: center;
  margin: 3em;
}

.searchfield {
  border: none;
  padding: .4em;
  padding-left: 2em;
  padding-right: 2em;
  position: relative;
}

button[type="submit"] {
  position: absolute;
  border: none;
  background: none;
  padding: .2em;
  margin: -2em;
  bottom: 1;
}

// Center and add search icon to search box
#search-box {
  text-align: center;
  position: relative;
  width: 75%;
  margin: 0 auto;

}

.search-state::after {
  // content: "\f002";
  // font-family: FontAwesome;
  // right: 140px;
  // position: absolute;
  // top: 4px;
}



.searchfield {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 40%;
  font-family: FontAwesome;
  color: #b2b2b2;
}
.searchfield:focus {
  width: 50%;
  color: #000;
}
