// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*___________________________*/
/*_________ LAYOUT __________*/

.descriptionlanding {
  height: 30%;
  width: 45%;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  margin: auto;
}


/*___________________________*/
/*_________ CONTENT__________*/

.logo img{
  width: 18em;
  height: auto;
  display: block;
  margin: auto;
}

.description p {
  border-top: .1em solid rgba(0, 0, 0, .15);
  padding-top: 2.3em;
  margin-top: 2.0em;
  text-align: center;
  font-weight: 300;
}

.landingsearch form {
  text-align: center;
  margin: 3em;
}

.searchfield {
  border: none;
  padding: .4em;
  position: relative;
}

button[type="submit"] {
  position: absolute;
  border: none;
  background: none;
  // padding: .2em;
  // margin: -2em;
  // bottom: 1;
}

// Center and add search icon to search box
#search-box {
  text-align: center;
  position: relative;
  width: 75%;
  margin: 0 auto;

}

.searchfield {
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 430%;
  font-family: FontAwesome;
  color: #b2b2b2;
}

.searchfield:focus {
  width: 65%;
  color: #000;
}

input[type=text] {
  width: 55%;
  background-color: white;
  border-bottom: none;
  padding-left: 1.1em;
  box-sizing: border-box;
  font-weight: 100;
  height: 2.6rem;
}

.landingsearch input[type=text]:focus:not([readonly]) {
  box-shadow: none;
  border-bottom: none;
  width: 75%;
}

// Preloader CSS


.circle-clipper .circle {
  border-width: 1px;
}
.preloader-wrapper.active {
  margin: 40vh auto 7vh auto;
  display: block;
}

.preloader-container {
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
  position: absolute;
  z-index: 500;
  display: none;
}

.spinner-layer {
  border-color: #000;
}

.preloader-container h5 {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}

body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .preloader-container {
    display: block;
}
