.why {
  // padding-top: 17%;
  width: 45%;
  margin: auto;
  // margin: 30vh auto;
}


/*___________________________*/
/*_________ CONTENT__________*/

.logo img{
  width: 18em;
  height: auto;
  display: block;
  margin: auto;
}

.description p {
  border-top: .1em solid rgba(0, 0, 0, .15);
  padding-top: 2.3em;
  margin-top: 2.0em;
  // text-align: center;
  font-weight: 300;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
}
