.why {
  margin: auto;
  width: 100%;
}

.logo_why img{
  width: 18em;
  height: auto;
  display: block;
  margin: auto;
}

.video {
  padding-top: 2em;
  width: 850px;
  text-align: center;
  margin: 0 auto;
}

.embed-container {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
   overflow: hidden;
   max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
